CREATE TABLE IF NOT EXISTS distributed_lock (
    lock_key VARCHAR(255) PRIMARY KEY,
    owner_id VARCHAR(64) NOT NULL,
    lock_until TIMESTAMP(6) NOT NULL,
    created_at TIMESTAMP(6) NOT NULL,
    updated_at TIMESTAMP(6) NOT NULL
);
